* {
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
}

.get-a-quote {
    padding: 75px 40px;
    background-color: #f06c64;
}

.get-a-quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 30px;
}

.get-a-quote__desc {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-bottom: 45px;
}

.get-a-quote-content {
    display: flex;
    justify-content: space-between;
}

.form {
    flex: 2;
}

.contact-info {
    flex: 1;
}

.form__input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.contact-info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px;
}

.contact-info__desc, .contacts__link {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}

.contact-info__desc {   
    margin-bottom: 30px;
}

.contacts__link {
    display: inline-block;
}

.contacts {
    display: flex;
    align-items: stretch;
}

.red-separator {
    height: 6px;
    background-color: #ea676b;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 22px 40px;
    background-color: #2d303a;
}