* {
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
}

.portfolio {
    background-color: #2d303a;
    padding: 68px 40px;
}

.portfolio .title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.category-btn {
    cursor: pointer;
    color: #767e9e;
    background-color: #2d303a;
    border-color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 5px;
}

.category-btn:hover {
    color: #dedede;
    border-color: #dedede;
}

.category-btn + .category-btn {
    margin-left: 10px;;
}

.portfolio .sub-text {
    font-size: 18px;
    line-height: 40px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 20px 0 10px 0;
}

.portfolio .btn-group {
    margin-bottom: 15px;
}

.projects-row, .people {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.projects-row + .projects-row {
    margin-top: 15px;
}

.projects-row .project:nth-child(n+12) {
    display: none;
}

.dark-delimiter {
    height: 6px;
    background-color: #323746;
}

.light-delimiter {
    height: 10px;
    background-color: #ffffff;
}

.about-us {
    background-color: #f2f2f2;
    padding: 60px 40px;
}

.about-us .title {
    font-size: 30px;
    line-height: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.about-us .sub-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.about-us .people {
    margin-top: 50px;
}

.people .full-name {
    margin: 15px 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.people .bio {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.people .icons {
    margin-top: 10px;
}

.facebook-icon, .google-icon, .twitter-icon, .linkedin-icon {
    display: inline-block;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    padding: 7px;
    border-radius: 50%;
}

.facebook-icon {
    background: url(./assets/icons/facebook.svg);
}

.google-icon {
    background: url(./assets/icons/google.svg);
}

.twitter-icon {
    background: url(./assets/icons/twitter.svg);
}

.linkedin-icon {
    background: url(./assets/icons/linkedin.svg);
}

.facebook-icon:hover, .google-icon:hover, .twitter-icon:hover, .linkedin-icon:hover {
    opacity: 0.7;
}