@media (max-width: 1019px) {
    .header__content {
        padding: 0 40px;
    }

    .slider__content {
        box-sizing: border-box;
        padding: 0 30px;
    }

    .slider__prev {
        left: 0px;
    }

    .slider__next {
        right: 0px;
    }

    .our-services__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio__content,
    .about-us__content {
        padding: 0 40px;
    }

    .portfolio__projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .people__card > img {
        width: 100%;
    }

    .get-a-quote__content {
        padding: 0 37px 0 42px;
    }
}